.container {
    margin: auto;
    width: 100vh;
    max-width: 100vw;
}

h1 {
    text-align: center;
}

.inputfields {
    text-align: center;
}

.countrydetails {
    text-align: center;
    display: flex;
}
#countryName, #region, #capital {
    margin: 0;
}

.columnleft {
    text-align: right;
    flex: 50%;
    padding: 5px;
}

.columnright {
    text-align: left;
    flex: 50%;
    padding: 5px;
}

#countryName {
    font-weight: bold;
}

#flag {
    width: 10vh;
    height: auto;
    border-radius: 3px;
    border:1px solid black
}

.error {
    color: darkred
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: small;
    text-align: center;
}